/*-----------------------------------------------------------
--------------- header --------------------------------------
-----------------------------------------------------------*/

.header_div_backbround{
    background-color: black;
    width: 100%;
    height: auto;
    position: relative;
}

h1{
    width: 50%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 11vw;
    color: beige;
    position: absolute;
    top: -4%;
    left: 5%;
}

.header_div_span{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: beige;
    position: relative;
    top: -60px;
    left: 5%;
}

.header_background_img{
    width: 100%;
}