/*-----------------------------------------------------------
--------------- header --------------------------------------
-----------------------------------------------------------*/

.header_div_backbround{
    background-color: black;
    width: 100%;
    height: auto;
    position: relative;
}

h1 {
    width: 50%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 11vw;
    color: beige;
    position: absolute;
    top: -4%;
    left: 5%;
}

.header_div_span {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    color: beige;
    position: relative;
    top: -80px;
    left: 5%;
}

.header_background_img {
    width: 100%;
}


/*--------------------------------------------------------------------------------
-------------------- main --------------------------------------------------------
--------------------------------------------------------------------------------*/


.main_container {
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    font-size: 4vw;
    margin: 0;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.main_article_img {
    width: 90%;
    margin-top: 2.5rem;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10%;
}

.main_article_h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    color: beige;
    padding-bottom: 15px;
    margin-bottom: 0;
}

/*------------------------------------------------------------------------------------------------
------------------ footer ------------------------------------------------------------------------
------------------------------------------------------------------------------------------------*/

footer {
    background-color: black;
}

ul{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 15px;
}

li {
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    display: flex;
    flex-direction: row;
}

/*-----------------------------------------------------------------------------------------------------
------------------ Bigger screens ---------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px) {

    .header_div_span {
        top: -18vh;
    }
}

@media screen and (min-width: 1400px){

    .header_background_img {
        max-height: 100vh;
    }

h2 {
    font-size: 3vw;
}

    .header_div_span {
        top: -200px;
    }

    .main_container {
        background-image: url("/src/image/pals.jpg");
    }

    .section_article_posts {
        padding-left: 10%;
        padding-right: 10%;
        background-color: black;
    }

    .main_article_h3 {
        font-size: 2vw;
        color: beige;
    }

    li {
        font-size: 3vw;
    }
}